# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Environment variables
.env

# Local database folders
chroma_db/

# PyTorch cache or HF model weights
*.pth
.cache/
